authentication_url =
library_url =

rest_port = 12105

concurrent_user = 45

check_concurrently_booking = true

cache_sql_url =
cache_sql_user =
cache_sql_password =

database_user =
database_password =

admins =