Vielen Dank für Ihre Buchung!

Buchung für ###readernumber###

Standort: ###institution###
Bereich: ###area### Platz ###id###

Datum: ###date###
Zeit: ###timeslot###

Buchungscode: ###code###

Bitte zeigen Sie diese Bestätigungen beim Betreten der Bibliothek vor und beachten Sie die geltenden Hygienevorschiften.


